
{% extends 'school/base.html' %}

{% block content %}

<div class="container">

  
        <form method="POST">
          {% csrf_token %}

           <div class="form-group w-50">
            <label for="first_name">ชื่อ</label>
            <input type="text" class="form-control"id="first_name" name="first_name">
          </div>

          <div class="form-group w-50">
            <label for="last_name">นามสกุล</label>
            <input type="text" class="form-control" id="last_name" name="last_name">
          </div>


          <div class="form-group w-50">
            <label for="email">อีเมลล์:</label>
            <input type="email" class="form-control" id="email" name="email">
          </div>

          <div class="form-group w-50">
            <label for="password">รหัสผ่าน:</label>
            <input type="password" class="form-control" id="password" name="password">
          </div>

          <button type="submit" class="btn btn-primary">สมัคร</button>

        </form>


</div>

{% endblock content %}